/* Reset */
* {
  box-sizing: border-box;
}

/* Page background */
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: linear-gradient(rgba(30, 30, 60, 0.7), rgba(30, 30, 60, 0.7)),
  url("background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
}

/* Main container */
.gore {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

/* Main title */
h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
  font-size: 36px;
}

/* Section titles */
h2 {
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

/* Card sections */
.section {
  background: rgba(30, 30, 50, 0.85);
  backdrop-filter: blur(10px);
  padding: 20px;
  margin: 20px 0;
  border-radius: 12px;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.6);
}

/* Labels */
label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #ffffff;
}

.igra{
    background: rgba(30, 30, 50, 0.85);
  backdrop-filter: blur(10px);
  padding: 250px;
  margin: 50px 0;
  border-radius: 12px;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.6);
  
}


/* Inputs and dropdown */
input, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
}

/* Buttons */
button {
  margin-top: 15px;
  padding: 12px;
  width: 100%;
  background: linear-gradient(135deg, #7f5cff, #4a2fd6);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

/* Button hover */
button:hover {
  background: linear-gradient(135deg, #4a2fd6, #2b1a9c);
  transform: scale(1.02);
}

/* Result text */
p {
  margin-top: 10px;
  font-weight: bold;
  color: #ffffff;
}

/* Mobile responsive */
@media (max-width: 600px) {
  h1 {
    font-size: 28px;
  }

  .section {
    padding: 15px;
  }
}