body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #c7a4f0;
}


.gore {
  max-width: 800px;
  margin: auto;
  width: 100%;
}


h1 {
  text-align: center;
  color: #4a2a94;
}


h2 {
  color: #6240b3;
  text-align: center;
  font-size: 24px;
}

/* Dropdown */
#material {
  background-color: #fdfdfd;
  color:#000000;
  font-weight: bold;
}

/* Selekcija */
.section {
  background-color: rgb(245, 229, 255);
  padding: 15px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}


input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background-color: #6240b3;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}


button:hover {
  background-color: #2d1368;
}


p {
  margin-top: 10px;
  font-weight: bold;
  color: #000000;
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }

  h2 {
    font-size: 20px;
  }

  button {
    font-size: 14px;
  }

  input, select {
    font-size: 14px;
  }
}
